<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <button href="http://www.google.com" class="bar-buttons"><img src="../../assets/Logo-Cetelem-petit.jpg"></button>
      <p class="create">crée le 22 septembre 2018</p>
    </div>
  </div>
</nav>-->

  <div class="footer">
    <!-- href expected: link to site intranet PF-->
    <div class="flex-container">
      <a role="button" href="http://www.google.com" class="bar-buttons"><img src="../../assets/Logo-Cetelem-mini.jpg"></a>
    </div>
    <div>
      <p class="create">crée le 22 septembre 2018&nbsp;&nbsp;</p>
    </div>
    </div>
