.style-brand {
    font-size: 30px;
    color:cyan;
    text-shadow: 1px 1px 2px rgb(21, 141, 57), 0 0 25px rgb(22, 168, 149), 0 0 5px darkblue;
}
.bkg-header{
    background-image :url('../../../assets/resized_1800x400/immeuble-accueil-P2A-recadre-direct.jpg'); 
    padding-top: 130px;
}