.style-brand {
    font-size: 30px;
    color:cyan;
    text-shadow: 1px 1px 2px rgb(21, 141, 57), 0 0 25px rgb(22, 168, 149), 0 0 5px darkblue;
}
.bkg-header{
    background-image :url('../../../assets/immeuble-cetelem.jpg'); 
    padding-top: 70px;
}