<ng-container *ngIf="personList && personList.length != 0">
  <!-- displaying list of links-->
  <div class="panel panel-default">
    <!-- Default panel contents-->
      <div *ngIf="belongP2a" class="panel-heading">Membres P2A</div>
      <div *ngIf="!belongP2a" class="panel-heading">Contacts</div>

    <!--List group of links-->
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let person of personList">
        Nom: {{person.name}} Prénom: {{person.firstName}} mail: {{person.mailAddress}} Num. Tél.:
        {{person.phoneNumber}}
      </li>
    </ul>
  </div>
</ng-container>