<!-- displaying list of links-->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Mes liens</div>

  <!-- List group of links-->
  <ul class="list-group" *ngFor="let link of linkAccessList">
    <li class="list-group-item"><a href="{{link.path}}">{{link.title}}</a></li>
  </ul>
</div>

<!--displaying list of process-->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Mes process</div>

  <!-- List group of process-->
  <ul class="list-group" *ngFor="let process of processAccessList">
    <li class="list-group-item"><a href="{{process.path}}">{{process.title}}</a></li>
  </ul>
</div>


<!--displaying list of contacts in cards-->
<mat-card>

    <mat-checkbox>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>face</mat-icon>
        </div>
        <mat-card-title>variables nomcontact en MAJ + prenom en min</mat-card-title>
      </mat-card-header>
    </mat-checkbox>
  
    <mat-card-content>
      <mat-list>
        <mat-list-item>tel fixe</mat-list-item>
        <mat-list-item>tel mobile</mat-list-item>
        <mat-list-item mailto>email</mat-list-item>
        <!-- ajouter un expand more pour plus de details-->
        <mat-list-item><a href="#">+</a></mat-list-item>
      </mat-list>
    </mat-card-content>
    
  </mat-card>

