<div>
<h2>{{activityName}}</h2>
<br>
<app-link-list *ngFor="let linkType of linkTypeList" [activityId]= "activityIdCurrent" [linkTypeId]= "linkType.id"  [linkTypeName]= "linkType.nameLinkType"></app-link-list> 
<app-person-list [activityId]= "activityIdCurrent" [belongP2a]= "true"></app-person-list>
<app-person-list [activityId]= "activityIdCurrent" [belongP2a]= "false"></app-person-list>



<p>body1</p>
<p>body2</p>
<p>body3</p>
<p>body4</p>
<p>body5</p>
<p>body6</p>
<p>body7</p>
<p>body8</p>

<p>body9</p>
<p>body10</p>
<p>body11</p>
<p>body12</p>
<p>body13</p>
<p>body14</p>







</div>
<!--
displaying list of contacts in cards
<mat-card>

    <mat-checkbox>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>face</mat-icon>
        </div>
        <mat-card-title>variables nomcontact en MAJ + prenom en min</mat-card-title>
      </mat-card-header>
    </mat-checkbox>
  
    <mat-card-content>
      <mat-list>
        <mat-list-item>tel fixe</mat-list-item>
        <mat-list-item>tel mobile</mat-list-item>
        <mat-list-item mailto>email</mat-list-item>
     ajouter un expand more pour plus de details
        <mat-list-item><a href="#">+</a></mat-list-item>
      </mat-list>
    </mat-card-content>
    
  </mat-card>

 -->