<div class="form-group">
  <!--faire une rq pour recup tous les linkType existant ds la table-->
  <h3>Que cherchez-vous?</h3>

  <mat-tab-group>
    <!--procedure/lien sheet-->
    <mat-tab label="Procédure/Lien">
      <h4>Formulaire de recherche</h4>
      <!--label field-->
      <mat-form-field>
        <input matInput name="linkName" [(ngModel)]= type="text" placeholder="Saisir un nom" aria-label="Libellé">
      </mat-form-field>
      &nbsp;
      <!-- typeLink field-->
      <mat-form-field>
        <mat-select placeholder="Type">
          <mat-option *ngFor="let linkType of linkTypeList" [value]="linkType">
            {{linkType.nameLinkType}}
          </mat-option>
        </mat-select>
      </mat-form-field>&nbsp;
      <!-- activity field-->
      <mat-form-field>
        <mat-select placeholder="Activité">
          <mat-option *ngFor="let activity of activityList" [value]="activity">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button routerLink="/resultat-recherche" mat-flat-button>Valider</button>
      </div>
    </mat-tab>

    <!--contact sheet-->
    <mat-tab label="Contact">
      <h4>Formulaire de recherche</h4>
      <!-- formulaire pour rechercher un contact-->
      <form class="form-inline">
        <!--name field-->
        <mat-form-field>
          <input matInput type="text" placeholder="Saisir le nom" aria-label="Nom" name="personName">
        </mat-form-field>
        &nbsp;
        <!--firstname field-->
        <mat-form-field>
          <input matInput type="text" placeholder="Saisir le prénom" aria-label="Prénom" name="personFirstName">
        </mat-form-field>
        &nbsp;
        <!--uid field-->
        <mat-form-field>
          <input matInput type="text" placeholder="Saisir l'uid" aria-label="UID" name="personUid">
        </mat-form-field>
        &nbsp;
        <!--activity field-->
        <mat-form-field>
          <mat-select placeholder="Activité">
            <mat-option *ngFor="let activity of activityList" [value]="activity">
              {{activity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button routerLink="/resultat-recherche" mat-flat-button>Valider</button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>