<div class="form-group">
  <!--faire une rq pour recup tous les linkType existant ds la table-->
  <label for="typeSearch">Que cherchez-vous?</label>
  <select class="form-control" id="typeSearch" placeholder="faites votre choix">
    <option value="process">Procédure</option>
    <option value="link">Lien</option>
    <option value="contact">Contact</option>
  </select>
  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
</div>