<h3>
  Bienvenue, puis-je vous aider?
 </h3>
 <div class="container"> 
  <img src="../../../assets/resized_1024x170/credito-par-ici.png" alt="crédito souriant">
  <h5>Cliquez sur l'activité de votre choix.</h5>
  <h5>Et retrouvez vos applis, vos liens, vos contacts...</h5>

 <!--exemple responsive container-->
   <div class="row" >
     <div class="col-sm-4 activityCard" *ngFor="let activity of activityList">
       <h4 class="activityNameColor"><a routerLink="/activite/{{activity.name.toLowerCase()}}">{{activity.name.toUpperCase()}}</a></h4>
       <p>{{activity.description}}</p> 
     </div>    
   </div>
 </div>