<h2>
  Bienvenue, puis-je vous aider?
 </h2>
 <div class="container"> 
  <img src="../../../assets/credito-par-ici.png" alt="crédito souriant">
  <h4>Cliquez sur l'activité de votre choix.</h4>
  <h4>Et retrouvez vos applis, vos liens, vos contacts...</h4>
</div>
 <!--exemple responsive container-->
 <div class="container">
   <div class="row" >
     <div class="col-sm-4 activityCard" *ngFor="let activity of activityList">
       <h3 class="activityNameColor"><a routerLink="/activite/{{activity.name.toLowerCase()}}">{{activity.name.toUpperCase()}}</a></h3>
       <p>{{activity.description}}</p> 
     </div>    
   </div>
 </div>